#calendarTable {
  width: 100%;
  height: 80vh;
  border-collapse: separate;
}

#calendarTable td, #calendarTable th {
  border: 1px solid black;
}
#calendarTable td:hover {
  background-color: rgb(200,200,200);
}

#calendarTable .schedule {
  visibility: hidden;
}
#calendarTable td:hover .schedule {
  visibility: visible;
}
