#calendarTable {
  width: 100%;
  height: 80vh;
  border-collapse: separate;
}

#calendarTable th, #calendarTable td {
  border: 1px solid black;
}
#calendarTable td {
  max-width: 0px;
  text-overflow: ellipsis;
}
#calendarTable td.active {
  color: rgb(0,0,0);
}
#calendarTable td.active:hover {
  background-color: rgb(200,200,200);
}
#calendarTable td.disable {
  opacity: .3;
}
#calendarTable th:nth-child(1),
#calendarTable td.active:nth-child(1) .date {
  color: rgb(255,0,0);
}
#calendarTable th:nth-child(7),
#calendarTable td.active:nth-child(7) .date {
  color: rgb(0,0,255);
}

#calendarTable .schedule {
  visibility: hidden;
}
#calendarTable .schedule > li {
  list-style-position: inside;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#calendarTable td.active:hover .schedule {
  visibility: visible;
}

.controler-content {
  display: flex;
  justify-content: space-between;
}
.controler-content .btn-container {
  display: flex;
}

.modal-container {
  display: none;
  z-index: 1;
  padding-top: 100px;
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
}
.modal-container > .modal-content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #888;
  padding: 20px;
  background-color: #fefefe;
}
.modal-content .todo-container {
  display: flex;
  flex-direction: column;
}
.modal-content .btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.modal-content .todo-container > * {
  margin-bottom: 10px;
}
.modal-content .btn-container > *,
.controler-content .btn-container > * {
  margin-left: 10px;
}
