.container {
  border: 1px solid;
  padding: 20px;
  position: relative;
}
.box {
  border: 1px;
  background: green;
  width: 100px;
  height: 100px;
  position: relative;
  top: 0;
  left: 0;
  color: rgb(255,255,255);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
}

/* transition 애니매이션 */
.box.move {
  /* transition: left background 2s; */
  transition-property: left, background;
  transition-duration: 2s;
}
.box.move.active {
  left: calc(100% - 100px);
  background: red;
}

/* animation 애니매이션 */
.box.box-move {
  animation-name: boxMove;
  animation-duration: 4s;
}
@keyframes boxMove {
  0% {
    box-shadow: 1px 1px 1px rgba(0,0,0,1);
    background-color: blue;
  }
  25% {
    transform: rotate(180deg) scale(3);
  }
  50% {
    left: calc(100% - 100px);
    background-color: red;
    box-shadow: 10px 10px 20px rgba(0,0,0,.5);
    transform: scale(1);
  }
  75% {
    transform: rotate(180deg) scale(3);
  }
  100% {
    left: 0;
    background-color: blue;
  }
}

.box.turn-move {
  animation-name: turnMove;
  animation-delay: 500ms;
  animation-duration: 2s;
  animation-play-state: paused;
}
.box.turn-move.fill_none {
  animation-fill-mode: none;
}
.box.turn-move.fill_forwards {
  animation-fill-mode: forwards;
}
.box.turn-move.fill_backwards {
  animation-fill-mode: backwards;
}
.box.turn-move.fill_both {
  animation-fill-mode: both;
}
.box.turn-move.active {
  animation-play-state: running;
}
@keyframes turnMove {
  from {
    right: 50px;
    transform: rotate(100deg);
  }
  to {
    left: calc(100% - 100px);
    transform: rotate(360deg);
  }
}

.box.around-move {
  animation-name: aroundMove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes aroundMove {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 100px);
  }
  50% {
    top: calc(100% - 100px);
    left: calc(100% - 100px);
  }
  75% {
    top: calc(100% - 100px);
    left: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.card-container {
  width: fit-content;
  border: 1px solid;
  padding: 20px;
  position: relative;
}
.box.card,
.box.card_label {
  transition-property: transform, opacity;
  transform-origin: center bottom;
}
.box.card {
  transform: rotateX(0deg);
  transition-duration: 200ms;
  opacity: 1;
}
.box.card_label {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: red;
  transform: rotateX(90deg);
  transition-duration: 400ms;
  opacity: 0;
}
.card-container:hover .card {
  transform: perspective(500px) rotateX(90deg);
  opacity: 0;
}
.card-container:hover .card_label {
  transform: perspective(500px) rotateX(0deg);
  opacity: 1;
}

.box.card2 {
  transition-property: transform, background;
  transition-duration: 400ms;
  transform-origin: center;
  transform: rotateX(0deg);
  opacity: 1;
}
.card-container:hover .card2 {
  background-color: red;
  transform: perspective(200px) rotateX(180deg);
}
