body {
  font-size: 14px;
  background-color: rgb(223, 216, 200);
  color: rgb(82, 87, 93);
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h5 {
  font-size: 0.83em;
}

#calendarControler.controler-container {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  padding: 15px 0;
}
.controler-container .title {
  margin: auto 10px auto;
  font-size: 1.7em;
}
.controler-container .btn-container {
  margin-left: 10px;
  height: 100%;
  display: flex;
}
.controler-container .btn-container > input {
  margin: auto 10px;
}
.controler-container .btn-container > button {
  margin: auto 3px;
  width: 35px;
  height: 35px;
  background-color: rgba(82, 87, 93, .5);
  border: solid 1px rgba(202, 191, 171, .5);
  border-radius: 50%;
  line-height: 33px;
  font-size: 1.2em;
  color: rgb(200, 200, 200);
}


/*
  table은 가로크기가 가변이다. -> table-layout: auto;
  table-layout: fixed;
  width: 700px;
  table > tr > td 직접적으로 가로를 지정하는 것이 좋다.
*/
.table-container {
  /* table-layout: fixed; */
  width: 100%;
  height: 80vh;
  border-collapse: collapse;
}
.table-container th {
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.1);
}
#calendarTable .date-container {
  height: 100%;
}

#calendarTable th, #calendarTable td {
  border: 1px solid black;
}
#calendarTable td {
  max-width: 0px;
  text-overflow: ellipsis;
}
#calendarTable td.active {
  color: rgb(0,0,0);
}
#calendarTable td.active:hover {
  background-color: rgb(200,200,200);
}
#calendarTable td.disable {
  opacity: .3;
}
#calendarTable th:nth-child(1),
#calendarTable td.active:nth-child(1) .date {
  color: rgb(255,0,0);
}
#calendarTable th:nth-child(7),
#calendarTable td.active:nth-child(7) .date {
  color: rgb(0,0,255);
}

/* #calendarTable .schedule {
  visibility: hidden;
} */
#calendarTable .schedule > li {
  list-style-position: inside;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* #calendarTable td.active:hover .schedule {
  visibility: visible;
} */

.controler-content {
  display: flex;
  justify-content: space-between;
}
.controler-content .btn-container {
  display: flex;
}

.modal-container {
  display: none;
  z-index: 1;
  padding-top: 100px;
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
}
.modal-container > .modal-content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #888;
  padding: 20px;
  background-color: #fefefe;
}
.modal-content .modal-schedule {
  margin: 20px auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.modal-content .modal-schedule li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  text-align: center;
}
.modal-content .modal-schedule li > .time {
  float: left;
  margin-left: 5px;
}
.modal-content .modal-schedule li > .delete {
  float: right;
  margin-right: 5px;
}
.modal-content .btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.modal-content .todo-container > * {
  margin-bottom: 10px;
}
.modal-content .btn-container > *,
.controler-content .btn-container > * {
  margin-left: 10px;
}
